apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-providers
spec:
  selector:
    matchLabels:
      app: postgres-providers
  template:
    metadata:
      labels:
        app: postgres-providers
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: password
        - name: POSTGRES_DB
          value: providers_db
        ports:
        - containerPort: 5432
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-providers
spec:
  selector:
    app: postgres-providers
  ports:
    - port: 5432
      targetPort: 5432
